body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: rgb(250, 250, 250);   
    height: 100vh; 
    }
    
    nav{
        background-color: white;
    
    }
    nav .top{
        display: flex;
        justify-content: space-between;
    background-color: white;
    height: 32vh;
    width: 99%;
    }
    
    /* START NAV RIGHT */
    .nav-left{
    position: relative;
    top: 30px;
    left: 112px;
    
    }
    .nav-left input{
    width: 325px;
    padding: 12px 0px 12px 44px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    transition: 0.38s;
    }
    .nav-left input:focus{
        padding: 12px 0px 12px 32px;
    
    }
    .nav-left i{
    color: #8c92a0;;
    position: absolute;
    top: 14px;
        left: 10px;
        font-size: 17px;
    
    }
    
    /* NAV MIDDILE */
    .nav-middle a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 54px;
    left: 610px;
    }
    /* END NAV MIDDILE */
    /* NAV RIGHT */
    .nav-right ul{
        display: flex;
    list-style: none;
    position: relative;
    top: 55px;
    right: 54px;
    
    }
    .nav-right ul li i{
    margin-right: 5px;
    font-size: 19px;
    color: #8c92a0;;
    transition: 0.4s;
    }
    .nav-right ul li i:hover{
    color: black;
    
    }
    .nav-right ul li a{
        text-decoration: none;
    color: white;
    
    }
    
    .nav-right ul li a span{
    position: absolute;
        bottom: 22px;
        left: 99px;
        background-color: #7971ea;
        font-size: 13px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        display: block;
        text-align: center;
        color: white;
    }
    /* END NAV RIGHT */
    /* END NAV TOP  */
    /* START NAV BOTTOM */
    nav hr{
        position: absolute;
        top: 128px;
        width: 99%;
    }
    nav .bottom ul{
    display: flex;
    position: absolute;
    top: 130px;
    right: 327px;
    
    }
    nav .bottom ul li{
        margin: 20px;
        list-style: none;
        transition: .3s all ease;
    
    }
    nav .bottom ul li a{
    text-decoration: none;
    color: black;
    transition: .3s all ease;
    }
    nav .bottom ul li a:hover{
    
        color: #7971ea;
    }
    
    nav .bottom .drop{
        background-color: white;
        position: absolute;
        z-index: 1;
    display: none;
    padding-top: 13px;
    } 
    nav .bottom .drop a{
    display: block;
    margin-bottom: -9px;
    margin-top: 9px;
    padding: 9px 11px 11px 18px;
    transition: .3s all ease;
    
    }
    nav .bottom .drop a:hover{
        background-color: rgba(202, 203, 204, 0.719);
    
    }
    
    
    nav .bottom .drop .he{
        border-top: 2px solid #7971ea;
    }
    
    
    nav .bottom .drop .it{
    padding-bottom: 20px;
    }
    
    
    
    nav .bottom .more-one:hover     .drop{
        display: block;
    }
    
    
    
    
    
    
    nav .bottom .drop{
        background-color: white;
        position: absolute;
        z-index: 1;
    display: none;
    padding-top: 15px;
    } 
    nav .bottom .drop a{
    display: block;
    margin-bottom: -9px;
    margin-top: 9px;
    padding: 9px 11px 11px 18px;
    }
    
    nav .bottom .drop a:hover{
        background-color: rgba(205, 207, 209, 0.808);
    
    }
    
    nav .bottom .more-too:hover     .drop{
        display: block;
    }
    
    /* end nav */

.head-text{
display: flex;
align-items: center;
font-size: 16px;

}

.head-text a{
color: #7971ea;
text-decoration: none;
margin-right: 9px;
margin-left: 129px;
position: relative;
    bottom: 16px;
}
 /* section 1 */

.sec1{

background-color: white;
display: flex;
justify-content: space-around;
padding: 60px 0 123px 0px;



}
.sec1 img{
width: 570px;


}

.text-photo{
position: relative;

}
.text-photo hr{
    color: #7971ea;
    width: 44px;
    border: 1px solid;
    margin-right: 441px;
    

}
.text-photo p{

    opacity: 0.7;

}

.sec2{
    background-color: white;
    position: relative;
    bottom: 7px;
    padding-bottom: 100px;

}
.sec2 .first{
border: 0.5px solid rgb(230, 228, 228);

}
.sec2 .second{
    border: 1px solid #7971ea;
width: 55px;
margin-top: 90px;
}
.sec2 .header{
    margin-left: 609px;
    letter-spacing: .1em;

}

.sec2 .containar{
display: flex;
justify-content: space-evenly;
text-align: center;
margin-top: 75px;
padding-left: 66px;
    padding-right: 55px;

}

.sec2 .containar img{
    width: 117px;
    border-radius: 50%;
}

.sec2 .containar p{

    opacity: 0.8;
    font-size: 15px;

}

.sec2 .containar .short-text{


    
    opacity: 0.8;
    letter-spacing: .1em;
    font-size: 12px;
    position: relative;
    bottom: 17px;
    font-weight: bold;
}

/* end section 2 */



/* code section 3 */
.section2{
    background-color: rgb(255, 255, 253);
    position: relative;
    bottom: 14px;
}

.section2 hr{
    border: 0.5px solid rgb(230, 228, 228);
    
    }

.section2 .div1{
    display: flex;
    justify-content: space-around;
    padding: 0 35px 0px 35px;
}
.section2 .div1 .div2{
    background-color:white;
    width: 400px;
    height: 180px;
    margin: 100px auto;
}
.section2 .div1 .div2 .div3{
    display: flex;
    align-items: center;
}
.section2 .div1 .div2 .div3 i{
    color: blueviolet;
    font-size: 45px;
    margin-right: 20px;
    margin-top: 20px;
    margin-right: 10px;
}
.section2 .div1 .div2 .div3 h1{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.section2 .div1 .div2 .div4 .p1{
    color: rgb(179, 181, 172);
    margin-left: 75px;
    margin-top: -13px;
}
.section2 .div1 .div2 .div4 .p2{
    color: rgb(179, 181, 172);
    margin-left: 65px;
    margin-top: -13px;
}
.section2 .div1 .div2 .div4 .p3{
    color: rgb(179, 181, 172);
    margin-left: 68px;
    margin-top: -13px;
}





/* ************ SECTION 4 **************  */
.section-6 {
    max-width: 99vw;
    height: 96vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 14px;
}

.sec-6-1,
.sec-6-2,
.sec-6-3,
.sec-6-4,
.sec-6-5 {
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    align-items: left;
    padding-left: 3vw;

}
.sec-6-1 p{
    margin-top: -20px;
}
.sec-6-1,
 a{
 margin-top: 30px;
 cursor: pointer;
}
.sec-6-2,
.sec-6-3 {
    margin-top: 7vh;
}
.sec-6-4 .img {
    margin-left: -0.1vw;
    background: aqua;
    padding-right: 5vw;
    padding: 1vw 6vw 1vw 0vw;
}
.sec-6-5 {
    position: relative;
    padding-right: 29px;
}
.sec-6-4 img {
    width: 100%;
    padding-right: 5vw;
}

span {
    color: #883CE6;
    font-weight: 500;
}


a {
    color: inherit;
}

a:hover {
        color:#7f8ff4;
}

.uppercase {
    text-transform: uppercase;
}


.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    width:  91px;
    height: 51px;
        background:#883CE6;
        color:  #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
        border-radius: 2px;
        padding: 15px 18px 15px 16px;
        position: absolute;
        top: 39%;
        right: -36px;
        }
.btn:hover {
    -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9);    }
        
    .btn:active {
            background:#883CE6;
            box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
    }
    
    
.btn--inside {
        margin-left: -96px;
}




.form__field{
    top: 35.3%;
    position: absolute;
    right: 73px;
    width: 159px;
    height: 10px;
        background: #fff;
        color: #a3a3a3;
        font: inherit;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
        border: 0;
        outline: 0;
        padding: 22px 18px;
        margin: -1vw;
        margin-top: 24px;
        border: 0.1px solid black;
        border-radius: 8px;
        transition: 0.2s all;
    }

    
.form__field:focus{
border-color: #7f8ff4;

}

    .foot{
        text-align: center;
        margin: auto;
        padding: 3vw 0;
        background-color: white;
  position: relative;

  top:-250px;
    }
    /* ************ END OF SECTION 4 **************  */





















